
.navbar-item {
    color: white;
}

.hero h1 {
    font-family: continuo,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero {
    background-color: skyblue;
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main {
    background-color: black;
}

.main-90 {
    width: 90%;
    margin-left: 5%;
}

.title {
    font-size: 24px;
}

.subtitle {
    font-size: 18px;
}

.content {
    font-size: 16px;
}

.button {
    font-size: 14px;
}

.footer {
    color: white;
    background-color: black;
}
.social-container a {
    padding-left: 15px;
    padding-right: 15px;
}